<!--This displays the list of quotes-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      </div>

<div class="col-md-8">

    <div class="quote" *ngFor='let quote of quotes;let i = index'>
        <p>๛ {{quote.name}}</p>
       <!--Button to toogle hide and show quote details-->
        <button  (click)='toogleDetails(i)'>▼</button>

      

        <!--Obtains details about a quote from quote-details-->
        <app-quotes-details *ngIf="quote.showInformation"
         [quote]='quote' (deleteit)='deleteQuote($event,i)'></app-quotes-details>
    </div>
    <h4>Make new quote</h4>
  <!--Refers to quotes-form.html to display form-->
 <app-quotes-form (addQuotes)='addNewQuotes($event)'></app-quotes-form>
    </div>

    <div class="col-md-2">

   </div>
   </div>
  </div>
